*{
    padding: 0px;
    margin: 0px;
    color: white;
}
div{
    padding-top: 10px;
    height: 100px;
    width: 500px;
    background-color: #00ffff;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

h1{
    border-width: 3px;
    border-style: dotted;
    border-color: black;
    background-color: blueviolet;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: auto;
}

div{
    text-align: center;
    width: 200px;
    background-color: rgb(4, 53, 53);
    border-style: 3px solid;
    border-color: black;
    border-radius: 4px;
    margin-top: 30px;
}

#set{
    height: 130px;
    width: 100px;
    background-color: rgb(7, 66, 7);
    border-radius: 50%;
}

#nav{
    text-align: left;
    padding-top: 0px;
    width: 1300px;
    height: 60px;
    margin-left: 0px;
    border-radius: 0px;
    background-color: #0f1111;
    color: white;
    
}
a{
    margin-right: 150px;
    font-size: 25px;
    padding-bottom: 0px;
    text-decoration: none;
}
#btn{
    background-color: yellowgreen;
}

#logo{
   color: #f08804;
}