*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f8fafc;
}

/* Navbar */

header{
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    position:sticky;
    top:0;
    z-index:1000;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
}

.active,
nav a:hover{
    color:#38bdf8;
}

/* Hero */

.hero{
    height:60vh;

    background:
    linear-gradient(rgba(0,0,0,.65),
    rgba(0,0,0,.65)),
    url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?w=1600");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero h1{
    font-size:60px;
}

.hero p{
    margin-top:10px;
    font-size:20px;
}

/* Course Cards */

.courses{
    padding:80px 10%;
    background-color: #e2dddd;
}

.courses h2{
    text-align:center;
    margin-bottom:40px;
}

.course-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.course-card{
    background:white;
    padding:30px;
    border-radius:20px;

    box-shadow:
    0 10px 25px rgba(0,0,0,.08);

    transition:.4s;
}

.course-card:hover{
    transform:translateY(-10px);
}

.course-card h3{
    color:#0ea5e9;
    margin-bottom:15px;
}

.course-card p{
    margin-bottom:15px;
}

.course-card span{
    display:block;
    margin-bottom:20px;
    font-weight:bold;
}

.course-card button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#0ea5e9;
    color:white;
    cursor:pointer;
}

/* Table */

.fees{
    padding:80px 10%;
}

.fees h2{
    text-align:center;
    margin-bottom:30px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

th{
    background:#0ea5e9;
    color:white;
}

th,
td{
    padding:18px;
    text-align:center;
    border:1px solid #ddd;
}

tr:hover{
    background:#f1f5f9;
}

/* Outcomes */

.outcomes{
    padding:80px 10%;
    background-color: #ddd;
}

.outcomes h2{
    text-align:center;
    margin-bottom:40px;
}

.outcome-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.box{
    background:white;
    padding:30px;
    text-align:center;
    border-radius:20px;

    box-shadow:
    0 5px 15px rgba(0,0,0,.08);

    transition:.4s;
}

.box:hover{
    transform:scale(1.05);
}

/* Footer */

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:25px;
}

/* Responsive */

@media(max-width:768px){

    header{
        flex-direction:column;
        gap:15px;
    }

    .hero h1{
        font-size:40px;
    }

    table{
        font-size:14px;
    }
}